{% from "bootstrap5/form.html" import render_field %}
{% include "header.html" %}
<div class="row">
    <div class="col col-lg-1 col-sm-1"></div>
    <div class="col col-lg-10">
        <h1 class="display-4 fs-1 mt-4 fw-bold text-body-emphasis gold">{{current_user.name}}</h1>
        <form method="POST" action="{{url_for('prayer', id=current_user.id)}}">
            {{ form.csrf_token }}
            <div id="dynamic-fields-container">
                    {% for field in form.requests %}
                        {{ render_field(field) }}
                    {% endfor %}
            </div>
            <button class="btn btn-success add-field mt-3 back-yellow green" type="button" onclick="addField()"
           >Add Field</button>
            <div class="mt-4" id="dynamic-fields-containers">
                    {% for field in form.testimonies %}
                        {{ render_field(field) }}
                    {% endfor %}
            </div>
            <div class="col">
                <div class="row">
                    <div class="col col-lg-4">
                        <button class="btn btn-success add-field mt-3" type="button" onclick="addFields()"
                        >Add Field</button>
                    </div>

                </div>
                <div class="row mt-4 mb-5">
                    {{ render_field(form.submit) }}
                </div>

            </div>
        </form>
        <div class="row">
            <div class="col">
                <label class="green">Prayer Request</label>
                <ul class="list-group">
                    {% for r in req %}
                  <li class="list-group-item">
                      <div class="row">
                          <div class="col col-sm-11">{{r.request}}</div>
                          <div class="col col-sm-1">
                                <a href="{{url_for('delete', id=r.id)}}">
                                    <svg class="bi" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                      <line x1="3" y1="3" x2="13" y2="13" stroke="red" stroke-width="2"></line>
                                      <line x1="3" y1="13" x2="13" y2="3" stroke="red" stroke-width="2"></line>
                                    </svg>
                                    <span class="visually-hidden">Dismiss</span>
                                </a>
                          </div>
                      </div>



                  </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col">
                <label class="green">Testimonies</label>
                <ul class="list-group">
                    {% for r in tes %}
                  <li class="list-group-item">{{r}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% include "footer.html" %}